
h1, h2, h3  {
    font-family: sans-serif !important;
    font-weight: 150 !important;
    color: #245693 !important;
    text-align: center;
}
div {
    font-size: 14px !important;
    font-weight: 450;
}


.stApp {
    background-color: #f0f6ff !important;
}

.stSidebar {
    background-color: #f0f6ff !important;
}
.stAppHeader {
    background-color: #f0f6ff !important;
}
.stAppHeader::before {
    content: "";
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%) scaleY(0.85);
    font-size: 24px;
    font-weight: bold;
    color: #245693;
}
.stMarkdown div {
    font-size: 24px !important;
    font-weight: 250;
    color: #245693;
}
.stSidebar label {
    color: #245693 !important;  /* your desired color */
}
div[data-testid="stMarkdownContainer"] p {
    font-size: 24px !important;
    font-weight: 150;
}
